:root {
  --white: #ffffff;
  --white-dark: #e7e7e7;
  --grey-dark: #1c1b1b;
}

.App {
  text-align: center;
}
/*HEADER*/

.logo{
  width: 6%;
  margin-left: 10px;
  float: left;
}

.small_header{
  color: var(--grey-dark);
  font-size: 18px;
  padding: 10px;
  margin: 15px 0 0 0;
  text-align: initial;
  border-bottom: 1px solid var(--white-dark);
  font-weight:500;
}

/*.products_header {*/
/*  border: 2px solid #D4D4D4;*/
/*  box-shadow: 0 0 15px #A9A9A9;*/
/*  padding: 10px;*/
/*  font-size: 2rem;*/
/*  color: var(--grey-dark);*/
/*  border-bottom: 1px solid var(--white-dark);*/
/*  width: 100%;*/
/*  text-align: center;*/
/*}*/

/*PRODUCT*/

products_block_request{
  width: 23%;
  background-color: #ffffff;
  padding-bottom: 10px;
}


.products_content {
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.main_block{
  display: flex;
  flex-direction: row;
}

.block_tittle_name{
  font-weight: 500
}

.block_tittle {
  text-align: initial;
}

.products_block {
  width: 23%;
  margin: 50px 10px 10px 10px;
  background-color: #ffffff;
  padding-bottom: 10px;
}

.product_image {
  width: 100%;
  height: 50%;
}

.title {
  color: var(--grey-dark);
  text-align: initial;
}

.name{
  color: var(--grey-dark);
  font-size: 18px;
  font-weight: 500;
  text-align: initial;
  margin: 10px 0 10px 0;
}

.description {
  color: var(--grey-dark);
  font-size: 12px;
  text-align: initial;
}

/*BUTTON*/

button.product_button_edit{
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--white-dark);

  /*position: absolute;*/
  bottom: 0;
  margin-bottom: -40px;
  /*margin-left: -122px;*/
}

.product_button_delete {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--white-dark);
  position: absolute;
  bottom: 0;
  margin-bottom: -40px;
  margin-left: -133px;
}

.product_button_upgrade{
  width: 109%;
  padding: 10px 20px;
  margin-left: -5px;
  border: 1px solid var(--white-dark);
}

button.product_button:hover {
  cursor: pointer;
  background-color: var(--white-dark);
  border: 1px solid var(--white-dark);
}

/*FORMA*/

.input_product{
  text-align: right;
  margin: 0 30px 0 0;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.form-modal {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

.form-input-modal{
  padding: 10px;
  width: 258px;
  margin: -10px -5px;
}

.form-button{
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--grey-dark);
  color: var(--white-dark);
  border: 1px solid var(--white-dark);
}

.description-form{
  width: 100%;
  height: 100px;
  padding: 11px;
  margin: -10px 5px 0 -5px;

}

/*MENU*/
nav {
  height: 50px;
  width: 100%;
  background-color: var(--white-dark);
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

main {
  padding: 50px;
}

p {
  margin: 20px;
}

.main-menu-btn {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.main-menu-btn:before {
  content: '';
  position: absolute;
  top: 3px;
  width: 30px;
  background-color: var(--grey-dark);
  height: 2px;
}

.main-menu-btn span {
  position: absolute;
  top: 14px;
  width: 30px;
  background-color: var(--grey-dark);
  height: 2px;
}

.main-menu-btn:after {
  content: '';
  position: absolute;
  bottom: 3px;
  width: 30px;
  background-color: var(--grey-dark);
  height: 2px;
}

/*FORM*/
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 40px;
}

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  overflow: hidden;
  width: 450px;
  height: 400px;
  margin: 0 auto;
}

.container_form_large {
  margin: 20px;
}

.container_form_little {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.child {
  margin: 10px;
}

.component_input {
  padding: 15px 30px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

button.child {
  padding: 10px 20px;
}

button.child:hover {
  background-color: var(--white-dark);
  border: 1px solid var(--white-dark);
}
/*@media (min-width: 992px) and (max-width: 1200px) {*/

/*  .news_image{*/
/*    margin: 10px 20px 0 20px;*/
/*    width: 20%;*/
/*    height: 70%;*/
/*  }*/
/*}*/

/*@media (min-width: 767px) and (max-width: 991px) {*/

/*  .news_image{*/
/*    margin: 15px 20px 0 20px;*/
/*    width: 25%;*/
/*    height: 60%;*/
/*  }*/
/*}*/
/*@media (min-width: 650px) and (max-width: 767px) {*/
/*  .news_header_one{*/
/*    font-size: 20px;*/
/*  }*/
/*  .news_all_content{*/
/*    font-size: 11px;*/
/*  }*/
/*  .news_image{*/
/*    margin: 15px 20px 0 20px;*/
/*    width: 30%;*/
/*    height: 60%;*/
/*  }*/
/*}*/
/*@media (max-width: 650px) {*/
/*  .news_block {*/
/*    height: 150px;*/
/*  }*/
/*  .news_header_one{*/
/*    font-size: 15px;*/
/*  }*/
/*  .news_all_content{*/
/*    font-size: 7px;*/
/*    padding: 0 0 0 100px;*/
/*  }*/
/*  .news_image{*/
/*    margin: 25px 20px 0 20px;*/
/*    width: 25%;*/
/*    height: 40%;*/
/*  }*/
/*}*/
